/* begin Page */
/* Created by Artisteer v3.0.0.38499 */

#art-main, table
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent p
{
    margin: 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  text-decoration: none;
}

.art-postcontent a
{
  text-decoration: none;
  color: #2F617F;
}

.art-postcontent a:link
{
  text-decoration: none;
  color: #2F617F;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
  color: #56738F;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
  color: #3E81A8;
}

.art-postcontent h1
{
   color: #2F617F;
margin: 21px 0;    
}

.art-blockcontent h1
{
margin: 21px 0; 
}

.art-postcontent h2
{
   color: #3E81A8;
margin: 19px 0;
   font-size: 26px;    
}

.art-blockcontent h2
{
margin: 19px 0;
   font-size: 26px; 
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited 
{
   font-size: 26px; 
}

.art-postcontent h3
{
   color: #41576C;
margin: 19px 0;
   font-size: 21px;    
}

.art-blockcontent h3
{
margin: 19px 0;
   font-size: 21px; 
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited 
{
   font-size: 21px; 
}

.art-postcontent h4
{
   color: #3D5266;
margin: 20px 0;
   font-size: 18px;    
}

.art-blockcontent h4
{
margin: 20px 0;
   font-size: 18px; 
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited 
{
   font-size: 18px; 
}

.art-postcontent h5
{
   color: #3D5266;
margin: 26px 0;
   font-size: 14px;    
}

.art-blockcontent h5
{
margin: 26px 0;
   font-size: 14px; 
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited 
{
   font-size: 14px; 
}

.art-postcontent h6
{
   color: #56738F;
margin: 35px 0;
   font-size: 12px;    
}

.art-blockcontent h6
{
margin: 35px 0;
   font-size: 12px; 
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited 
{
   font-size: 12px; 
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html 
{
    height:100%;
}

#art-main
{
  display: inline-block;
  position: relative;
  z-index: 0;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
  overflow:visible;
}

body
{
  padding: 0; 
  margin:0;
  color: #0F1419;
  height:100%;
  min-height:100%;
  background-color: #FFFFFF;
  background-image: url('../../../Resources/images/layout/Bottom_texture.jpg');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: top left;
  min-width: 900px;
}

.cleared
{
  display:block;
  clear: both;
  float: none;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  height:0;
  overflow:hidden;
}

.reset-box
{
  overflow:hidden;
  display:table; 
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.art-sheet
{
  position: relative;
  margin: 0 auto;
  min-width: 23px;
  min-height: 23px;
  margin-top: 15px;
  margin-bottom: -5px;
  cursor:auto;
  width: 900px;
}

.art-sheet-body
{
  position: relative;
  padding: 9px;
    padding-top:9px;
    padding-bottom:9px;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
  position: absolute;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
  width: 42px;
  height: 42px;
  background-image: url('../../../Resources/images/layout/sheet_s.png');
}

.art-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 21px, 21px, auto);
}

.art-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 21px, 21px);
}

.art-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(21px, 21px, auto, auto);
}

.art-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(21px, auto, auto, 21px);
}

.art-sheet-tc, .art-sheet-bc
{
  left: 21px;
  right: 21px;
  height: 42px;
  background-image: url('../../../Resources/images/layout/sheet_h.png');
}

.art-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 21px, auto);
}

.art-sheet-bc
{
  bottom: 0;
  clip: rect(21px, auto, auto, auto);
}

.art-sheet-cr, .art-sheet-cl
{
  top: 21px;
  bottom: 21px;
  width: 42px;
  background-image: url('../../../Resources/images/layout/sheet_v.png');
}

.art-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 21px);
}

.art-sheet-cl
{
  left: 0;
  clip: rect(auto, 21px, auto, auto);
}

.art-sheet-cc
{
  position: absolute;
  top: 21px;
  left: 21px;
  right: 21px;
  bottom: 21px;
  background-color: #F9FAFB;
}

#art-page-background-top-texture, #art-page-background-middle-texture, #art-page-background-glare
{
  min-width: 900px;
}

/* end Box, Sheet */

/* begin Header */
div.art-header
{
  margin: 0 auto;
  position: relative;
  width:100%;
  height: 150px;
  margin-top: 0;
  margin-bottom: 0;
}

div.art-header-clip
{
  position: absolute;
  width:100%;
  left:0;
  overflow:hidden;
  height:150px;
}

div.art-header-jpeg
{
  position: absolute;
  top: 0;
  left:0;
  width: 882px;
  height: 150px;
  background-image: url('../../../Resources/images/layout/header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}
/* end Header */

/* begin Logo */
div.art-logo
{
  display: block;
  position: absolute;
  top: 50px;
  left: 100%;
  margin-left: -585px;
}

.htitle {
    padding-right:12px;
    padding-top:7px;
    float:left;
    color: #15428B;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 18px;
    font-weight: bold;
}

h1.art-logo-name
{
  display: block;
  text-align: left;
  font-size: 31px;
  padding: 0;
  margin: 0;
  color: #475E76 !important;
}
h1.art-logo-name a, 
h1.art-logo-name a:link, 
h1.art-logo-name a:visited, 
h1.art-logo-name a:hover
{
  font-size: 31px;
  padding: 0;
  margin: 0;
  color: #475E76 !important;
}

h2.art-logo-text
{
  display: block;
  text-align: left;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 19px;
  padding: 0;
  margin: 0;
  color: #F9FAFB !important;
}
h2.art-logo-text a,
h2.art-logo-text a:link,
h2.art-logo-text a:visited,
h2.art-logo-text a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 19px;
  padding: 0;
  margin: 0;
  color: #F9FAFB !important;
}

#headline, #slogan 
{
    display: block;
    min-width: 150px;
    text-align: left;
}
/* end Logo */

/* begin Layout */
.art-content-layout
{
  display: table;
  position:relative;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
  width:100%;
  margin-top:0;
  margin-bottom:0;
}
.art-layout-cell, .art-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none;
  margin:0;
  padding:0;
}

.art-content-layout .art-content-layout{width: auto;margin:0;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell{display: table-cell;}
.art-layout-cell .art-layout-cell{display: block;}
.art-content-layout-row {display: table-row;}
.art-layout-glare{position:relative;}/* end Layout */

/* begin Box, Block */
.art-block
{
  position: relative;
  min-width: 1px;
  min-height: 1px;
  margin: 10px;
}

.art-block-body
{
  position: relative;
  padding: 0;
}

div.art-block img
{
/* WARNING do NOT collapse this to 'border' - inheritance! */
    border-color: #B2C2D1;
  border-style: solid;
  margin: 5px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-blockheader
{
  margin-bottom: 0;
  position: relative;
  height: 38px;
}

.art-blockheader h3.t
{
  position: relative;
  height: 38px;
  color: #000000;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  margin:0;
  padding: 0 10px 0 28px;
  white-space: nowrap;
  line-height: 38px;
}

.art-blockheader h3.t a,
.art-blockheader h3.t a:link,
.art-blockheader h3.t a:visited, 
.art-blockheader h3.t a:hover
{
  color: #000000;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
}

.art-blockheader .l, .art-blockheader .r
{
  position: absolute;
  height: 38px;
  background-image: url('../../../Resources/images/layout/blockheader.png');
}

.art-blockheader .l
{
  left: 0;
  right: 22px;
}

.art-blockheader .r
{
  width: 882px;
  right: 0;
  clip: rect(auto, auto, auto, 860px);
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-blockcontent-body
{
  position: relative;
  padding: 3px;
  color: #2E3D4C;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
}

.art-blockcontent-body table,
.art-blockcontent-body li, 
.art-blockcontent-body a,
.art-blockcontent-body a:link,
.art-blockcontent-body a:visited,
.art-blockcontent-body a:hover
{
  color: #2E3D4C;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
}

.art-blockcontent-body p
{
  margin: 6px 0;
}

.art-blockcontent-body a, .art-blockcontent-body a:link
{
  color: #2F617F;
  text-decoration: underline;
}

.art-blockcontent-body a:visited, .art-blockcontent-body a.visited
{
  color: #7691AD; 
  text-decoration: none;
}

.art-blockcontent-body a:hover, .art-blockcontent-body a.hover
{
  color: #3E81A8;
  text-decoration: none;
}

.art-blockcontent-body ul li
{
  line-height: 125%;    
  color: #3D5266;
  padding: 0 0 0 16px;
  background-image: url('../../../Resources/images/layout/blockcontentbullets.png');
  background-repeat: no-repeat;
}/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper a.art-button,
.art-button-wrapper a.art-button:link,
.art-button-wrapper input.art-button,
.art-button-wrapper button.art-button
{
  text-decoration: none;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  position:relative;
  top:0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #11222D !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 32px;
  height: 32px;
  margin: 0 !important;
  padding: 0 20px !important;
  overflow: visible;
  cursor: pointer;
}

.art-button img, .art-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.art-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 32px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .art-button-wrapper
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.art-block select 
{
    width:96%;
}

.art-button-wrapper.hover .art-button, .art-button-wrapper.hover a.art-button:link, .art-button:hover
{
  color: #331F00 !important;
  text-decoration: none !important;
}

.art-button-wrapper.active .art-button, .art-button-wrapper.active a.art-button:link
{
  color: #D9E0E8 !important;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
  display: block;
  position: absolute;
  height: 106px;
  margin: 0;
  padding: 0;
  background-image: url('../../../Resources/images/layout/button.png');
}

.art-button-wrapper .art-button-l
{
  left: 0;
  right: 0;
}

.art-button-wrapper .art-button-r
{
  width: 401px;
  right: 0;
  clip: rect(auto, auto, auto, 401px);
}

.art-button-wrapper.hover .art-button-l, .art-button-wrapper.hover .art-button-r
{
  top: -37px;
}

.art-button-wrapper.active .art-button-l, .art-button-wrapper.active .art-button-r
{
  top: -74px;
}

.art-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Post */
.art-post
{
  position: relative;
  min-width: 1px;
  min-height: 1px;
  margin: 7px;
}

.art-post-body
{
  position: relative;
  padding: 15px;
}

a img
{
  border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
  border: solid 0 #B2C2D1;
  
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
}

.save {
    background-image:url(../../../Resources/images/save.png) !important;
}
.deny {
    background-image:url(../../../Resources/images/deny.png) !important;
}

.art-article th, .art-article td
{
  padding: 2px;
  border: none;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
h2.art-postheader
{
  color: #214559;
  margin: 5px 0;
  font-size: 26px;
}

h2.art-postheader a, 
h2.art-postheader a:link, 
h2.art-postheader a:visited,
h2.art-postheader a.visited,
h2.art-postheader a:hover,
h2.art-postheader a.hovered
{
  font-size: 26px;
}

h2.art-postheader a, h2.art-postheader a:link
{
  text-align: left;
  text-decoration: none;
  color: #28536C;
}

h2.art-postheader a:visited, h2.art-postheader a.visited
{
  color: #5C7A99;
}

h2.art-postheader a:hover,  h2.art-postheader a.hovered
{
  color: #3E81A8;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #3D5266;
}

.art-postheadericons
{
  padding: 1px;
}

.art-postheadericons a, .art-postheadericons a:link
{
  text-decoration: none;
  color: #2F617F;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
  font-style: italic;
  font-weight: normal;
  color: #2F617F;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
  font-style: italic;
  font-weight: normal;
  text-decoration: underline;
  color: #3E81A8;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostContent */
.art-postcontent
{
  display:inline;
}
/* end PostContent */

/* begin PostBullets */
.art-post ol, .art-post ul
{
  margin: 1em 0 1em 2em;
  padding: 0;
}

.art-post li
{
  font-size: 14px;
  color: #2E3D4C;
  padding: 0 0 0 16px;
}

.art-post li ol, .art-post li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.art-post ol>li
{
  background: none;
  padding-left: 0;
  /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-post ul>li
{
  background-image: url('../../../Resources/images/layout/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 16px;
  /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
.art-postcontent blockquote,
.art-postcontent blockquote a,
.art-postcontent blockquote a:link,
.art-postcontent blockquote a:visited,
.art-postcontent blockquote a:hover
{
  color: #1E1300;
}

.art-postcontent blockquote p
{
   margin:3px;
}

.art-postcontent blockquote
{
   border: solid 0 #FEC262;
  margin: 10px 10px 10px 50px;
  padding: 6px 6px 6px 34px;
  background-color: #FFE0AE;
  background-image: url('../../../Resources/images/layout/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;
  /* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
  clear:both;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.art-postfootericons,
.art-postfootericons a,
.art-postfootericons a:link,
.art-postfootericons a:visited,
.art-postfootericons a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #3D5266;
}

.art-postfootericons
{
  padding: 1px;
}

.art-postfootericons a, .art-postfootericons a:link
{
  text-decoration: none;
  color: #2F617F;
}

.art-postfootericons a:visited, .art-postfootericons a.visited
{
  color: #2F617F;
}

.art-postfootericons a:hover, .art-postfootericons a.hover
{
  color: #3E81A8;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.art-footer
{
  position: relative;
  margin-top:50px;
  margin-bottom:0;
  width: 100%;
}

.art-footer-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #B2C2D1;
}

.art-footer-body
{
    position:relative;
    padding: 20px;
}

.art-footer-body .art-rss-tag-icon
{
  position: absolute;
  left:   6px;
  bottom:20px;
  z-index:1;
}

.art-rss-tag-icon
{
  display: block;
  background-image: url('../../../Resources/images/layout/rssicon.png');
  background-position: center right;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  cursor: default;
}

.art-footer-text p
{
  padding:0;
  margin:0;
  text-align: center;
}

.art-footer-text,
.art-footer-text a,
.art-footer-text a:link,
.art-footer-text a:visited,
.art-footer-text a:hover,
.art-footer-text td, 
.art-footer-text th,
.art-footer-text caption
{
    color: #131A20;
}

.art-footer-text
{
  min-height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.art-footer-text a,
.art-footer-text a:link
{
  color: #295670;
  text-decoration: none;
}

.art-footer-text a:visited
{
  color: #394D60;
}

.art-footer-text a:hover
{
  color: #1C394A;
}

div.art-footer img
{
/* WARNING do NOT collapse this to 'border' - inheritance! */
    border-width: 0;
    border-color: #B2C2D1;
  border-style: solid;
  margin: 10px;
}/* end Footer */

/* begin PageFooter */
.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #5096BE;
}

.art-page-footer
{
  padding: 1em;
  text-align: center;
  text-decoration: none;
  color: #394D60;
}
/* end PageFooter */

/* begin LayoutCell, content */

/* end LayoutCell, content */


